.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    min-height: 100vh;
    overflow: hidden;
    background-color: $black;
    color: $white;
    background-image: url('/storage/app/public/intro-3.jpg');
}

.intro__languge-battons-wrapper {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    //width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
}

.intro__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;

}

.intro__detail {
    color: $accent-color;
}

.intro__detail--uppercase {
    text-transform: uppercase;
}

.intro__text-wrapper {
    margin-left: auto;
    text-align: right;
}

.intro__image-wrapper {
    position: absolute;
    bottom: 0;

    left: 0;
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.intro__image-container {

    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.2s ease 0.2s;
}


.intro__image {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    object-position: bottom;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: contain;
    background-repeat: no-repeat;
    // transition: opacity 0.3s ease;
}

.intro__image-wrapper:hover .intro__image {
    opacity: 0;
    transition: opacity 0.2s ease;

}
//
//.intro__image-wrapper:hover .intro__image-container {
//    background-image: url("/storage/app/public/me-5.png");
//    @supports (background-image: url('/storage/app/public/me-5-smaller.webp'))
//        {
//            background-image: url('/storage/app/public/me-5-smaller.webp'); /* Используйте WebP, если браузер поддерживает */
//        }
//    opacity: 1;
//    transition: opacity 0s ease;
//}

.intro__image-wrapper:hover .intro__image-container {
    background-image: url("/storage/app/public/me-5.png");
    @supports (background-image: url('/storage/app/public/me-5-smaller.webp')) {
        background-image: url('/storage/app/public/me-5-smaller.webp');
    }
    opacity: 1;
    transition: opacity 0s ease;
}

/* Если вы хотите, чтобы представление изменилось при наведении, можете использовать следующий код */

//
//@keyframes fade {
//    0% { opacity: 1; }
//    100% { opacity: 0.6; }
//}
@media (max-width: 767px) {

    .intro__languge-battons-wrapper {
        position: absolute;
        top: 30px;
        left: 0;
        right: 10%;
       // width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;
        padding: 0 ;
    }

    .intro__name {
        font-size: 2em;
    }


    .intro__image-wrapper {

        width: 100%;
        height: 100%;
        max-height: 60vh;
    }

    .intro__image-container {
        background-position: left bottom;

    }

    .intro__image {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        object-position: left bottom;
        width: 100%;
        height: 100%;
        opacity: 1;
        object-fit: contain;
        background-repeat: no-repeat;
        // transition: opacity 0.3s ease;
    }

    .intro__text-wrapper {
        position: absolute;
        top: 16%;
        right: 10%;
        margin-left: auto;
        margin-top: auto;
        text-align: right;
        width: min-content;


    }

    .intro__text {
        font-size: 1.25em;
    }
}

@media (min-width: $tablet) and (max-width: $desktop) {
    .intro {

        padding: 0 5%;

    }

    .intro__languge-battons-wrapper {

        padding: 0 5%;
    }
    .intro__text {
        font-size: 1.5em;
    }
    .intro__text-wrapper {
        width: min-content;
    }
}

@media (min-width: 1200px) {

    .intro {

        padding: 0 10%;

    }

    .intro__text {
        font-size: 2em;
    }
}
