.project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project:hover {
    opacity: 0.7;
    //color: $accent-color;
}

.project:active {
    opacity: 0.7;
    //color: $accent-color;
}

.project__title {
    font-size: 1.5em;
    transform: translateY(0px);
    transition: transform 1s ease;
    //text-shadow: 3px 3px  rgba($gray-100, 0.9);
}

.project__button {
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
}

//.project__button:active {
//    opacity: 0.7;
//}

.project__pic-small {
    box-shadow: 0 0 10px 10px rgba($black, 0.5);
}

.project__popup-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($black, 0.7);
    z-index: 100;
}

.popup-display-close{
    display: none;
}
.project__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    width: 80%;
    max-height: 95%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background-color: $white;
    border: 10px solid rgba($accent-color, 0.8);
    border-radius: 20px;
    z-index: 200;
    box-shadow: 0 0 10px 10px $black;
}

.project__close-popup-button {

    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: transparent;
    border: 5px solid $yellow;
    border-radius: 10px;
    cursor: pointer;
}

.project__close-popup-button:active {
    opacity: 0.7;
}

.project__close-popup-button::before {
    content: "";
    position: absolute;
    display: block;
    top: -18%;
    right: 45%;
    width: 4px;
    height: 56px;
    transform: rotate(45deg);
    background-color: $yellow;
    border: none;
}

.project__close-popup-button::after {
    content: "";
    position: absolute;
    display: block;
    top: -18%;
    right: 45%;
    width: 4px;
    height: 56px;
    transform: rotate(-45deg);
    background-color: $yellow;
    border: none;
}

.project__features-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 16px;
}

.project__features-item {
    padding: 3px 5px;
    margin: 5px;
    border: $yellow 3px solid;
    border-radius: 15px;
    text-transform: capitalize;
}

.project__features-item:first-child {
    margin-left: 0;
}

.project__popup-title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.project__text {
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
}

@media (max-width: $mobile) {
    .project__title {
        font-size: 1.2em;
    }

    .project__popup {


        border-width: 6px ;


    }

    .project__close-popup-button {
        border-width: 3px ;
        width: 35px;
        height: 35px;
    }

    .project__close-popup-button::before {
        top: -14%;
        height: 38px;
        width: 3px;
    }

    .project__close-popup-button::after {
        top: -14%;
        height: 38px;
        width: 3px;
    }
}

@media (min-width: $tablet) and (max-width: $desktop) {
    .project__close-popup-button {

        width: 40px;
        height: 40px;

    }


    .project__close-popup-button::before {
        top: -26%;
        height: 44px;

    }

    .project__close-popup-button::after {
        top: -26%;
        height: 44px;

    }

}

@media (min-width: $desktop-only) {

    .project__title {
        font-size: 2em;
    }

    .project__button:hover {
        opacity: 0.7;
    }

    .project__popup-title {
        font-size: 46px;
        margin: 0;
        margin-bottom: 10px;
    }

    .project__close-popup-button:hover {
        opacity: 0.7;
        cursor: pointer;
    }

    .project__features-list {

        font-size: 20px;
    }

    .project__text {
        font-size: 24px;
    }

}

@keyframes bounce {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
