.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   // height: 100%;
    padding: 20px;
    background-color: $gray-200;
    transform: translateY(0px);
}

.projects__header {
    text-align: center;
    transform: translateY(0px);
    transition: transform 1s ease;
}

.projects__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    transform: translateY(0px);
    transition: transform 1s ease;
}

.projects__project {
    width: 46%;

}

.project__pic {
    width: 100%;
    height: auto;
}

@media (max-width: $mobile) {


}

@media (min-width: $tablet) and (max-width: $desktop) {

}

@media (min-width: $desktop-only) {

    .projects__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        padding: 20px;
    }

    .projects__project {
        width: 30%;
    }
}

