// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Luto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//colors
$black-100: #000000;
$black: #2e2f33;
$white: #ffffff;
$blue: #05b0db;
$accent-color: #ff7676;
$yellow: #ffe969;
$background-color: #05111d;

$gray-100: #dedede;
$gray-200: #f0f1f1;
//device

$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;
$desktop-only: 1201px;
